/* fevil was here */
/* STYLES FOR SECTION - "SET A GOAL" -STARTS-  */
.sag {
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(134, 155, 175);
  padding: 50px;
}

.sag-container1 {
  display: inline-flex;
  flex-direction: column;
}

.landingpage-topic {
  margin: 20px 20px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
}

.sag-btn {
  margin: 20px 10px;
  display: inline-flex;
  align-items: center;
  gap: 50px;
}

a.sagbtn {
  text-decoration: none;
  color: rgb(56, 56, 102);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

a.sagtry {
  color: #fff;
  border-radius: 10px;
  background-color: rgb(34, 34, 70);
  padding: 10px;
}

p.sag-text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;

}

img.landingpage-img {
  display: inline-flex;
  margin-top: 40px;
  height: 500px;
  max-width: 615px;
}

@media (max-width: 1034px) {
  .sag {
    height: 900px;
    display: flex;
    flex-direction: column;
  }

  .landingpage-topic {
    font-size: 30px;
  }

  p.sag-text {
    font-size: 17px;
  }

  .sag-btn {
    gap: 30px;
  }

  .landingpage-img {
    height: 1000px;
    width: 340px;
  }
}

/* STYLES FOR SECTION - "SET A GAOL"  -ENDS- */

/* STYLES FOR SECTION - "SATISFYING OVER 1B" -STARTS-  */
.landingpage {
  width: 100%;
  background-color: #fff;
}

section.so1b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 24px auto;
}

div.so1b-topcontainer {
  padding: 10px 115px;
}

h3.so1b-branch {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1.so1b-headline {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
}

span.so1b-subheadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  margin: 34px 10px;
}

.so1b-bottomcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 10px 0px;
}

div.so1b-BCcontainer {
  position: relative;
  display: inline;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: border-box;
  height: minheight(100px, auto);
  width: 35pc;
  border-radius: 20px;
  box-shadow: 0px 10px 12px -12px rgb(104, 104, 104);
  border: 1px solid gray;
  padding: 40px 20px;
}

.so1b-user {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.so1b-user i {
  position: absolute;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid gray;
  color: gray;
  margin-top: 10px;
}

h2.username {
  padding-left: 35px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

span.userjob {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-left: 35px;
}

.so1b-stars {
  margin: 20px 0px;
}

.so1b-stars i {
  margin: 3px;
  color: rgb(44, 44, 66);
}

@media (min-width: 1070px) and (max-width: 1120px) {
  .landingpage {
    width: 90%;
  }

  div.so1b-BCcontainer {
    width: 30pc;
  }
}

@media (min-width: 945px) and (max-width: 1069px) {
  div.so1b-BCcontainer {
    width: 28pc;
  }

  div.so1b-topcontainer {
    padding: 10px 95px;
  }
}

@media (min-width: 667px) and (max-width: 845px) {
  section.so1b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 24px auto;
  }

  div.so1b-topcontainer {
    padding: 10px 15px;
  }

  h3.so1b-branch {
    position: relative;
    display: flex;
    justify-content: center;
    color: rgba(160, 143, 143, 0.877);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;

  }

  h1.so1b-headline {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
  }

  span.so1b-subheadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 14px 0px;
  }

  .so1b-bottomcontainer {
    display: inline-flex;
    align-items: center;
    padding: 10px 10px;
  }

  div.so1b-BCcontainer {
    position: relative;
    display: inline;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 20pc;
    padding: 20px 20px;
  }

  .so1b-user {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  h2.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 20x;
  }

  span.userjob {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  div.so1b-text p.text {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }
}

@media (max-width: 666px) {
  section.so1b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 24px auto;
  }

  div.so1b-topcontainer {
    padding: 10px 15px;
  }

  h3.so1b-branch {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;

  }

  h1.so1b-headline {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  span.so1b-subheadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 14px 0px;
  }

  .so1b-bottomcontainer {
    display: inline-flex;
    align-items: center;
    padding: 10px 10px;
  }

  div.so1b-BCcontainer {
    position: relative;
    display: inline;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 20pc;
    padding: 20px 20px;
  }

  div.so1b-BCcontainer.javascript {
    display: none;
  }

  .so1b-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  h2.username {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 20x;
  }

  span.userjob {
    display: inline;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  div.so1b-text p.text {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
}

@media (min-width: 667px) and (max-width: 900px) {
  .landingpage {
    width: 100%;
  }

  section.so1b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 24px auto;
  }

  div.so1b-topcontainer {
    padding: 10px 15px;
  }

  h3.so1b-branch {
    position: relative;
    display: flex;
    justify-content: center;
    color: rgba(160, 143, 143, 0.877);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
  }

  h1.so1b-headline {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
  }

  span.so1b-subheadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 14px 0px;
  }

  .so1b-bottomcontainer {
    display: inline-flex;
    align-items: center;
    padding: 10px 10px;
  }

  div.so1b-BCcontainer {
    position: relative;
    display: inline;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 20pc;
    padding: 20px 20px;
  }

  .so1b-user {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  h2.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 20x;
  }

  span.userjob {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  div.so1b-text p.text {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
  }
}

@media (max-width: 700px) {
  .landingpage {
    width: 100%;
    text-align: center;
    padding: 5px;
    ;
  }

  section.so1b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 24px auto;
  }

  div.so1b-topcontainer {
    padding: 10px 15px;
  }

  h3.so1b-branch {
    position: relative;
    display: flex;
    justify-content: center;
    color: rgba(160, 143, 143, 0.877);
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
  }

  h1.so1b-headline {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  span.so1b-subheadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 14px 0px;
  }

  .so1b-bottomcontainer {
    display: inline-flex;
    align-items: center;
    padding: 10px 10px;
  }

  div.so1b-BCcontainer {
    position: relative;
    display: inline;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 20pc;
    padding: 20px 20px;
  }

  div.so1b-BCcontainer.javascript {
    display: none;
  }

  .so1b-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  h2.username {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 20x;
  }


  span.userjob {
    display: inline;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  div.so1b-text p.text {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
  }
}

@media (max-width: 666px) {
  .landingpage {
    width: 100%;
  }
}

/* STYLES FOR SECTION - "SATISFYING OVER 1B"  -ENDS- */
